@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100%;
}
.zindex {
  z-index: 99;
}
.border-1 {
  border: 1px solid #fc507b;
}
.boxshadow {
  box-shadow: 2px 2px 5px 0px rgba(252, 80, 123, 0.3);
}
.boxshadowhover {
  box-shadow: 5px 5px 5px 5px rgba(252, 80, 123, 0.3);
}
